/* GENERAL */

* { box-sizing: border-box; }

a:hover { cursor: pointer; }

.container {
  display: flex;
  flex-wrap: wrap;
}

/* NB: Color descriptions are reminder notes, not official names. */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F9F2E7; /* whitetrash */
  color: #363636; /* warm dark grey */
}

/* NAVIGATION */

nav ul {
  padding: 0;
  border-bottom: 4px solid #363636; /* warm dark grey */
}

nav li {
  margin-right: 1rem;
  padding: 0.5rem;
  list-style-type: none;
  background-color: #40C0CB; /* teal drop */
  border-radius: 1em 1em 0 0;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #363636; /* warm dark grey */
}

nav a:hover {
  color: #F9F2E7; /* whitetrash */
}

/* HEADERS & HEADINGS */

h1 {
  padding: 0.5rem;
  background-color: #40C0CB; /* teal drop */
  border: 0.25rem solid;
}

section h2 {
  padding-left: 0.75rem;
}

/* SEMANTIC ELEMENTS */

article {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #AEE239; /* atomic bikini (spring green) */
}

img {
  max-width: 100%;
  border: 0.5rem solid #8FBE00; /* feeble week (grass green) */
  border-radius: 0.25rem;
}

body > footer {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 100;
}

aside {
  padding: 0.25rem;
}

/* CLASSES, IDs & OTHER */

i {
  padding-right: 0.25rem;
}

.display-heading {
  font-family: 'Lobster', cursive;
  color: #363636; /* warm dark grey */
  font-weight: bold;
}

#projects {
  justify-content: space-between;
}

#projects article {
  width: 48.75%;
}

.container h2 {
  width: 100%;
}

#about {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#about > :last-child {
  flex-grow: 1;
}

#main-content {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 70%;
}
